@font-face {
	font-family: 'Bariol';
	src: url('../../fonts/bariol_regular-webfont.eot');
  src: url('../../fonts/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/bariol_regular-webfont.woff') format('woff'),
	url('../../fonts/bariol_regular-webfont.ttf') format('truetype'),
	url('../../fonts/bariol_regular-webfont.svg#webfont') format('svg');
}
