<main ng-init="bc.populate()" class="blog">
  <section ng-show="!bc.list">
    <blog-full-view-directive ng-repeat="entry in bc.entries" entry="entry" ng-click="bc.list = !bc.list" class="mobile-full"></blog-full-view-directive>
  </section>

  <section ng-show="bc.list">
    <ul>
      <blog-list-directive ng-repeat="entry in bc.entries" entry="entry" ng-click="bc.list = !bc.list" class="mobile-list"></blog-list-directive>
    </ul>
  </section>

  <section>
    <blog-full-view-directive ng-repeat="entry in bc.entries" entry="entry" class="full-full"></blog-full-view-directive>
  </section>
</main>
