@media only screen and (min-width: 640px) {

  main.home .flex-container form input {
      width: 66%;
    }

  blog-list-directive.mobile-list {
    display: none;
  }

  blog-full-view-directive.mobile-full {
    display: none;
  }

  blog-full-view-directive.full-full {
    display: block;
  }

  nav.full-nav {
    display: block;
  }

  .mobile-nav {
    display: none;
  }
}
