@import url("//fonts.googleapis.com/css?family=Rock%20Salt");
@import url("//fonts.googleapis.com/css?family=Rammetto%20One");
@import url("//fonts.googleapis.com/css?family=Luckiest%20Guy");
@import url("//fonts.googleapis.com/css?family=Caveat%20Brush");
@import url("//fonts.googleapis.com/css?family=Fira%20Sans");
@import url("//fonts.googleapis.com/css?family=Titan%20One");
@import url("//fonts.googleapis.com/css?family=Suez%20One");
@import url("//fonts.googleapis.com/css?family=Secular%20One");
@import url("//fonts.googleapis.com/css?family=Amatica%20SC");
@import url("//fonts.googleapis.com/css?family=Caveat");
a:hover {
  color: #fbfffe; }

a {
  text-decoration: none;
  color: #fbfffe; }

body {
  background-color: #fbfffe;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }
  body textarea {
    width: 50%;
    height: 20vh; }

@font-face {
  font-family: 'icomoon';
  src: url("../../fonts/icomoon.eot");
  src: url("../../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../../fonts/icomoon.woff") format("woff"), url("../../fonts/icomoon.ttf") format("truetype"), url("../../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?ki8j8c");
  src: url("fonts/icomoon.eot?ki8j8c#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?ki8j8c") format("truetype"), url("fonts/icomoon.woff?ki8j8c") format("woff"), url("fonts/icomoon.svg?ki8j8c#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-menu:before {
  content: "\e900"; }

.icon-github:before {
  content: "\e901"; }

main {
  height: 100vh;
  padding: 2%;
  font-family: 'Fira Sans'; }

main.profile {
  text-align: center; }

main.home {
  text-align: center; }
  main.home .flex-container {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center; }
    main.home .flex-container .logo {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 0;
      padding: 2vh; }
    main.home .flex-container form {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 0;
      padding: 2vh; }
      main.home .flex-container form input {
        width: 100%; }
      main.home .flex-container form button {
        color: #fbfffe;
        background-color: #640D14; }
  main.home img {
    width: 30vh;
    margin: 0 auto; }
  main.home .title {
    font-family: 'Caveat';
    color: #640D14;
    font-weight: bold;
    font-size: 60px; }
  main.home h1 {
    font-size: 5vh;
    margin: 0;
    font-size: 24px;
    font-weight: bold; }
  main.home p {
    width: 100%;
    margin: 0 auto; }

main.profile ul {
  list-style-type: none; }

main.admin {
  text-align: center; }
  main.admin h1 {
    font-weight: bold; }

main.blog {
  height: 200vh; }
  main.blog h1 {
    font-weight: bold;
    color: #640D14; }
  main.blog h2 {
    font-size: 24px; }
  main.blog p {
    font-size: 32px; }
  main.blog form {
    text-align: center; }
    main.blog form h1 {
      font-size: 24px;
      margin: 0;
      font-weight: bold; }
  main.blog button {
    background-color: #ff6600;
    color: #fbfffe;
    font-weight: bold; }
  main.blog article {
    border: 1px solid black;
    padding: 2vh;
    text-align: center;
    margin-bottom: 2vh; }

header {
  background-color: #6d676e;
  height: 10vh;
  display: table;
  width: 100%;
  border: 1px solid black; }
  header ul {
    margin-bottom: 0;
    text-align: center; }

.blog-form h3 {
  margin-bottom: 0; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3vh;
  padding: 2vh;
  text-align: center;
  background-color: #6d676e;
  color: #fbfffe;
  border: 1px solid black; }

nav.full-nav {
  display: none; }
  nav.full-nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center; }
    nav.full-nav ul li {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 0;
      padding: 2vh;
      margin: 0; }
      nav.full-nav ul li button {
        background-color: #ff6600;
        color: #fbfffe;
        font-weight: bold;
        margin: 0; }

.mobile-nav {
  font-size: 5vh;
  display: table-cell;
  vertical-align: middle; }
  .mobile-nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    list-style: none;
    font-size: 3vh; }
    .mobile-nav ul li {
      display: inline-block;
      flex-grow: 0;
      flex-shrink: 0;
      padding: 0 2vh 2vh 2vh;
      margin: 0;
      line-height: 1; }

blog-list-directive {
  display: block; }

blog-full-view-directive {
  display: none; }

@media only screen and (min-width: 640px) {
  main.home .flex-container form input {
    width: 66%; }
  blog-list-directive {
    display: none; }
  blog-full-view-directive {
    display: block; }
  nav.full-nav {
    display: block; }
  .mobile-nav {
    display: none; } }
