header {
  position: relative;
  background-color: #000000;
  height: 10vh;
  padding: 0 2%;
  margin-bottom: 5vh;
  display: table;
  width: 100%;

  ul {
    margin-bottom: 0;
    text-align: center;
  }
}
