main {
  height: 100vh;
  padding: 2%;
  font-family: 'Fira Sans';
}

main.profile {
  text-align: center;
}

.profile-admin {
  text-align: center;

  h1 {
    font-weight: bold;
    color: $red;
  }

  h2 {
    font-size: 24px;
  }

  form {
    text-align: center;

    h1 {
      font-size: 24px;
      margin: 0;
      font-weight: bold;
    }
  }

  button {
    background-color: $orange;
    color: $white;
    font-weight: bold;
  }
}

main.home {
  text-align: center;

  .flex-container {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;

    .logo {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 0;
      padding: 2vh;
    }

    form {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 0;
      padding: 2vh;

      input {
        width: 100%;
      }

      button {
        color: $white;
        background-color: $red;
      }
    }
  }

  img {
    width: 30vh;
    margin: 0 auto;
  }

  .title {
    font-family: 'Caveat';
    color: $red;
    font-weight: bold;
    font-size: 60px;
  }

  h1 {
    font-size: 5vh;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }

  p {
    width: 100%;
    margin: 0 auto;
  }
}

main.profile {

  ul {
    list-style-type: none;
  }
}

main.admin {
  text-align: center;

  h1 {
    font-weight: bold;
  }
}

main.blog {
  h1 {
    font-weight: bold;
    color: $red;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 32px;
  }

  form {
    text-align: center;

    h1 {
      font-size: 24px;
      margin: 0;
      font-weight: bold;
    }
  }

  button {
    background-color: $orange;
    color: $white;
    font-weight: bold;
  }

  article {
    border: 1px solid black;
    padding: 2vh;
    text-align: center;
    margin-bottom: 2vh;
  }
}
