main {
  height: 100vh;
}

main.home {
  font-family: 'Bariol';
  text-align: center;

  div {
    margin: 0 auto;
    display: table;
  }

  img {
    display: table-cell;
    width: 75%;
    float: left;
  }

  h1 {
    display: table-cell;
    color: #9A031E;
    font-weight: bold;
    font-size: 7rem;
    vertical-align: middle;
  }

  form {
    float: right;
    width: 100%;
  }

  p {
    width: 50%;
    float: right;
  }
}
