<main class="home">
  <div class="flex-container">
    <div class="logo">
      <img src="../img/panda.png" />
      <h1 class="title">Red Panda</h1>
    </div>
    <form>
      <h1>Username</h1>
      <input type="text" ng-model="user.username"></input><br>
      <h1>Password</h1>
      <input type="password" ng-model="user.password"></input><br>
      <button ng-click="ac.signUp(user)">Sign Up</button>
      <button ng-click="ac.logIn(user)">Log In</button>
    </form>
  </div>
  <p>
    Everyone has a bucket list of things, places, or activities that they want to do before they kick the
      bucket. Red Panda easily allows you to track, motivate and achieve any goal that you set out to do.
      You can add anything to your list! Simply create a user account below, and start making your list. Red Panda's
      easy to use template allows you to fluidly add new bucket list items with a timeline and any desired
      cost. If your plans change you can update and delete any entry with a click of a button.
  </p>
</main>
