  <main ng-init="pac.getAdmin()" class="profile-admin">
    <h1>Edit Profile</h1>
    <form ng-submit="pac.updateProfile(updatedAdmin)">
      <label>
        <h3>Avatar</h3>
        <input type="text" ng-model="updatedAdmin.avatar" placeholder="Avatar"/>
      </label>
      <label>
        <h3>Name</h3>
        <input type="text" ng-model="updatedAdmin.name" placeholder="Name"/>
      </label>
      <label>
        <h3>Description</h3>
        <input type="text" ng-model="updatedAdmin.description" placeholder="Description"/>
      </label>
      <button type="submit">Edit</button>
    </form>
  </main>
