nav.full-nav {
  display: none;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;

    li {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 0;
      padding: 2vh;

      button {
        background-color: #FF6600;
      }
    }
  }
}

.mobile-nav {
  font-size: 5vh;
  display: table-cell;
  vertical-align: middle;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    list-style: none;
    font-size: 3vh;

    li {
      display: inline-block;
      flex-grow: 0;
      flex-shrink: 0;
      padding: 0 2vh 2vh 2vh;
      margin: 0;
      line-height: 1;
    }
  }
}
